@font-face {
    font-family: 'Roboto';
    src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
}


body {
    font-family: Arial, "Roboto", sans-serif;
    font-size: 16px;
}

h1 {
    font-size: 24px;
    font-weight: bold;
}

h2 {
    font-size: 20px;
    font-weight: bold;
}

p {
    font-size: 14px;

}

p::selection {
    background-color: #212121;
    color: red;
}
