// default color for backgound and text =>
// for text color.
$default-primary-color: #ffffff;
$default-secondary-color: #000000;

// for background color.
$default-background-color: #111A24;
$default-cart-hover-background-color: #66A5AD;
$color-red : orangered;
// ******************************************************

// text shadow =>
$text-shadow: 0px 0px 1px $default-secondary-color;

// box shadow =>
$box-shadow: 0 0 0.3rem $default-cart-hover-background-color;

$gradient-color: linear-gradient(to bottom,green, $default-background-color, lightseagreen);;

