// default color for backgound and text =>
// for text color.
$default-primary-color: #dddddd;
$default-secondary-color: #000000;

// for background color.
$default-background-color: #111A24;
$default-cart-hover-background-color: #66A5AD;
$color-red : orangered;
// ******************************************************

// text shadow =>
$text-shadow: 0px 0px 1px $default-secondary-color;

// box shadow =>
$box-shadow: 0 0 0.3rem $default-cart-hover-background-color;

$gradient-color: linear-gradient(to bottom,green, $default-background-color, lightseagreen);;

@keyframes img-slide {
    25% {
        background-image: url("https://plus.unsplash.com/premium_photo-1676637656198-e2bbf752103a?q=80&w=1287&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        object-fit: cover;
    }

    50% {
        background-image: url("https://plus.unsplash.com/premium_photo-1661766718556-13c2efac1388?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        object-fit: cover;
    }

    75% {
        background-image: url("https://images.unsplash.com/photo-1606318313647-137d1f3b4d3c?q=80&w=1477&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        object-fit: cover;
    }

    100% {
        background-image: url("https://images.unsplash.com/photo-1618498082410-b4aa22193b38?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        object-fit: cover;
    }
}