@mixin display-flex() {
    display: flex;
    align-items: center;

    @content;
}

@mixin hover() {
    border: 0.5px solid $default-primary-color;
    border-radius: 4px;
    box-shadow: $box-shadow;

    @content;
}

@mixin responsive($min-breakpoint, $max-breakpoint) {
    @media screen and (min-width: $min-breakpoint) and (max-width: $max-breakpoint) {
        @content;
    }
}

@mixin moveRightToLeft() {
    @keyframes shiftNavbar {
        from {
            margin-left: 100%;
        }

        to {
            margin-left: 0px;
        }
    }

    @content;
}

@mixin imageBright() {
    border-radius: 8px;
    filter: brightness(105%) saturate(110%) drop-shadow(0 0 0.5rem) contrast(110%);

    @content;
}


@mixin cart-hover() {
    background-color: lightseagreen;
    box-shadow: $box-shadow;
    text-shadow: $text-shadow;

    @content;
}

// About us mixin.

@mixin width-slide() {
    @keyframes width-slider {
        from {
            background-image: url("../../assets/images/imgs/about-image/about-slider-img3.jpg");
            margin-left: 100%;
        }

        to {
            background-image: url("../../assets/images/imgs/about-image/about-slider-img4.jpg");
            margin-left: 0
        }
    }

    @content;
}