.container__navbar {
    height: 10vh;
    width: auto;
    border-bottom: 1px solid $default-primary-color;
    box-shadow: $box-shadow;

    @include display-flex() {
        justify-content: space-between;
        padding: 1.5rem;
    }

    .container__logo {
        width: auto;
        height: 70px;

        a {

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                background-position: 50% 50%;
                background-repeat: no-repeat;
                background-size: cover;
                border-radius: 8px;
                box-shadow: $box-shadow;
            }
        }
    }

    .container__menu {
        width: auto;
        height: 5vw;

        @include display-flex();

        a {
            height: 100%;
            width: 8vw;
            font-family: "Roboto";
            font-size: 1.2rem;
            color: lightseagreen;
            text-shadow: $text-shadow;

            @include display-flex() {
                justify-content: center
            }

            &:hover {
                @include hover();
            }

            i {
                font-size: 1.5rem;
                color: lightseagreen;
            }

        }

        .home {
            color: lightseagreen;
        }

        span i {
            font-size: 1.8rem;
            padding: 4px;
            text-shadow: $text-shadow;
        }
    }

    .container__menuBtn {
        display: none;
        width: 12vw;
        font-size: 1.6rem;
        color: $default-secondary-color;

        i {
            font-size: 2rem;
            @include display-flex()
        }

    }

    .container__closeBtn {
        display: none;
        width: 12vw;
        font-size: 1.6rem;
        color: $default-secondary-color;

        i {
            font-size: 2rem;
            @include display-flex()
        }
    }

}

// media Query
@include responsive(100px, 870px) {

    .container__navbar {
        .container__logo {
            margin-right: 200px;
        }

        .container__menu {
            display: none;

            @include display-flex() {
                flex-wrap: wrap;
                position: absolute;
                top: 5.1rem;
                left: 0px;
            }

            @include moveRightToLeft() {
                -moz-animation: shiftNavbar 0.5s linear 0s 1;
                -webkit-animation: shiftNavbar 0.5s linear 0s 1;
                -o-animation: shiftNavbar 0.5s linear 0s 1;
                -ms-animation: shiftNavbar 0.5s linear 0s 1;
                animation: shiftNavbar 0.5s linear 0s 1;
            }

            a {
                height: 10vh;
                width: 100vw;
                font-family: "Roboto";
                font-size: 1.2rem;
                color: $default-primary-color;
                border-bottom: 1px solid #ddd;
                border-radius: 10%;

                i {
                    font-size: 2rem;
                    color: orangered;
                }

                &:hover {
                    background-color: #ddd;
                    color: $default-cart-hover-background-color;
                    border: none;
                    font-size: 1.5rem;
                }

            }

            .home {
                color: orangered;
            }
        }

        .container__menuBtn {
            display: block;
            color: $default-primary-color;

        }

        .container__closeBtn {
            color: $default-primary-color;

        }

    }
}